@media (max-width: 1279px) {
  .swiperPrev {
    left: -64px;
  }

  .swiperNext {
    left: 1115px;
  }
}


@media (max-width: 1220px) {

  .header-right__list {
    flex: 1 1 645px;
    gap: 27px;
    justify-content: space-between;
  }

  .header-top {
    padding-bottom: 0;
  }

  .swiper-container {
    position: relative;
  }

  .podcast__title {
    padding-top: 91px;
  }

  .card__pictures {
    height: 100%;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    opacity: .5;
    background-color: var(--color-light-grey);
  }

  .container {
    max-width: 1024px;
    padding: 0;
    margin: 0 100px 0 90px;
  }

  .radio-left {
    max-width: 625px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 94px;
  }

  .header-right__link:not(:last-of-type) {
    margin-right: 32px;
  }

  .header-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header-top__logo {
    width: 120px;
    margin-right: 11px;
    padding-bottom: 20px;
    padding-left: 5px;
    z-index: 10000;
  }

  .header-right {
    width: 100%;
    margin-bottom: 19px;
  }

  .header-bottom__limit {
    display: none;
  }

  .header-down {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
  }



  .bottom-left {
    display: flex;
    flex-direction: row;
    padding-right: 32px;
    padding-left: 5px;
    gap: 17px;
  }

  .bottom-right {
    max-width: 298px;
  }

  .button {
    padding-left: 2px;
  }

  .broadcast-right {
    padding-right: 20px;
    padding-left: 39px;
  }

  .broadcast-left {
    margin-right: 22px;
  }

  .hero {
    padding-left: 9px;
    padding-bottom: 88px;
  }

  .radio {
    gap: 50px;
  }

  .radio-left__title {
    margin-bottom: 12px;
  }

  .radio-left__descr {
    max-width: 539px;
    margin-bottom: 21px;
  }

  .radio-right {
    padding-top: 83px;

  }

  .podcast,
  .broadcasts,
  .guests,
  .about,
  .playlist,
  .product,
  .footer {
    padding-left: 9px;
  }

  .card-right {
    flex: 1 0 auto;
  }

  .podcast-info {
    margin-bottom: 60px;
  }

  .podcast {
    padding-bottom: 93px;
  }

  .item__card {
    max-width: 253px;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .broadcasts__wrap {
    width: 100%;
  }

  .guests__descr {
    max-width: 536px;
  }

  .profile--active {
    max-width: 253px;
  }

  .accordion-column {
    column-gap: 29px;
    padding-bottom: 17px;
  }

  .playlist-wrap {
    flex-direction: column;
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 36px;
  }

  .checkbox {
    width: 533px;
    border: none;
    padding-bottom: 0;
  }

  .checkbox__categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 526px;
    height: 190px;
    margin-bottom: -12px;
  }

  .checkbox__label {
    display: inline;
    max-width: 304px;
    z-index: 10000;
  }

  .playlist-right__info {
    display: flex;
    flex: 1 1 calc((100% - 30px * 2) / 3);
  }

  .playlist-right__image {
    max-height: 112px;
    max-width: 112px;
  }

  .playlist-right__info .playlist-right__image::before {
    height: 112px;
    width: 112px;
  }

  .playlist-right__play {
    top: 31px;
    left: 31px;
  }

  .playlist-right__descr {
    max-width: 143px;
    width: 100%;
    padding: 0;
    padding-left: 9px;
    padding-top: 40px;
  }

  .playlist-right {
    max-width: 1010px;
  }

  .playlist-intend {
    max-width: 824px;
    bottom: -123px;
  }

  .playlist-intend__descr {
    max-width: 824px;
  }

  .playlist {
    padding-bottom: 213px;
  }

  .playlist-right__image svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .playlist-right__info .playlist-right__play:active svg {
    opacity: 1;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transform-origin: 0 0;
  }

  .product-info__logo-svg {
    width: 100px;
    height: 100px;
    top: 89px;
    left: -1px;
  }

  .product-info__left {
    position: relative;
    padding-top: 123px;
  }

  .product-info__right svg {
    width: 395px;
  }


  .product-info__title {
    padding-top: 3px;
  }

  .product {
    padding-bottom: 95px;
  }

  .about-descr__spiral {
    display: none;
  }

  .about-descr__title {
    margin-bottom: 10px;
  }

  .about-descr__subtitle,
  .about-descr__share {
    max-width: 539px;
  }

  .about-descr__dawn {
    top: 45px;
    right: -190px;
  }

  .swiper-slide {
    max-width: 421px;
  }

  .swiper-wrapper {
    transform: translate3d(-1278.5px, 0, 0);
  }

  .swiper__subtitle {
    max-width: 350px;
  }

  .swiper-slide__speaker {
    margin-bottom: 25px;
  }

  .swiper {
    max-width: 1180px;
    margin-right: -31px;
    margin-bottom: 35px;
  }

  .swiperPrev {
    left: -64px;
  }

  .swiperNext {
    left: 825px;
  }

  .about-form__wrapper {
    max-width: 398px;
  }

  .about-form__input {
    margin-bottom: 35px;
  }

  .footer-left__logo {
    margin-bottom: 17px;
  }

  .about-form__wrapper:not(:last-child) {
    margin-right: 30px;
  }
}



@media (max-width: 992px) {
  .header-right__list {
    display: none;
  }

  .header-top {
    padding: 0;
  }

  .container {
    max-width: 1024px;
    padding: 0;
    margin: 0 114px 0 105px;
  }

  .swiper-container {
    position: relative;
  }

  .product-info__right svg {
    width: 539px;
  }

  .burger-active {
    display: none;
    opacity: 0;
    position: relative;
    max-width: 992px;
    width: 100%;
    height: 400px;
    background-color: var(--color-light-grey);
    padding: 106px 104px;
  }

  .burger-active__open {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 61px;
    left: 0;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
  }

  .burger-nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 243px;
  }

  .burger-nav__down {
    display: none;
  }

  .burger-nav__link {
    margin-right: 40px;
    margin-bottom: 64px;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger__line-disable {
    opacity: 0;
  }

  .burger__line-left {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .burger__line-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  .burger-nav__link:focus {
    color: var(--color-white);
    background-color: var(--color-purple-blue);
    outline: none;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
  }

  .burger-nav__link:hover {
    color: var(--color-dark-purple);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
  }

  .burger-nav__link:active {
    color: var(--color-deep-purple);
    background-color: transparent;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
  }

  .burger-nav__link:nth-child(even) {
    margin-right: 0;
  }

  .burger-nav__left-svg {
    position: absolute;
    right: 0;
    top: 0;
  }

  .burger-nav__right-svg {
    position: absolute;
    right: 119px;
    top: 83px;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    opacity: .5;
    background-color: var(--color-light-grey);
  }

  .header-top__logo {
    width: 120px;
    padding-top: 12px;
    margin-right: 11px;
    padding-bottom: 20px;
    padding-left: 5px;
    z-index: 10000;
  }

  .header-right__link {
    display: none;
  }

  .header__right-burger {
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    z-index: 10000;
    margin-right: auto;
    padding-left: 5px;
    top: 36%;
  }

  .burger__line {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--color-dark-purple);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .burger__line-first {
    top: 0;
  }

  .burger__line-second {
    top: 10px;
  }

  .burger__line-third {
    top: 10px;
  }

  .burger__line-fourth {
    bottom: 1px;
  }

  .broadcast-left {
    display: none;
  }

  .broadcast-text {
    display: none;
  }

  .broadcast-right {
    border: none;
  }

  .bottom-right {
    width: 9%;
  }

  .bottom-left {
    gap: 24px;
    width: 100%;
    padding-left: 3px;
    padding-right: 6px;
  }

  .header-bottom {
    display: flex;
    padding-top: 3px;
    padding-bottom: 8px;
  }

  .broadcast-right__play {
    position: relative;
    top: 0;

  }

  .header-down {
    padding-bottom: 4px;
  }

  .broadcast-right {
    padding-right: 2px;
    padding-left: 3px;
    padding-top: 4px;
  }

  .radio-left {
    padding-top: 92px;
  }

  .radio-left {
    max-width: 508px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 94px;
  }

  .radio-right {
    display: none;
  }

  .radio-left__title {
    margin-bottom: 12px;
  }

  .card__pictures {
    height: 100%;
  }

  .podcast {
    padding-bottom: 96px;
  }

  .podcast-info {
    flex-direction: column;
  }

  .card {
    width: calc(100% - 2px);
  }

  .hero {
    padding-bottom: 92px;
  }

  .card-info {
    padding-top: 18px;
  }

  .broadcasts__menu {
    height: 120px;
    margin-bottom: 36px;
  }

  .broadcasts__archive {
    max-width: 400px;
    left: 102px;
    top: 1087px;
    padding-top: 0;
    padding-left: 88px;
    background-size: 68px 96px;
  }

  .item {
    gap: 33px;
  }

  .broadcasts__btn {
    margin-bottom: 9px;
  }

  .broadcasts__wrap {
    flex-direction: column;
  }

  .broadcasts {
    margin-bottom: 217px;
  }

  .playlist-right__info {
    flex: 1 1 calc((100% - 30px) / 2);
  }

  .swiper-slide {
    max-width: 277px;
  }

  .guests__more {
    flex-direction: column;
  }

  .accordion-column {
    padding-bottom: 1px;
  }

  .ac-panel__name {
    margin-bottom: 30px;
  }

  .accordion {
    margin-bottom: 27px;
  }

  .profile--active {
    max-width: 540px;
  }

  .profile__olga {
    width: 540px;
    height: 220px;
  }

  .profile__descr {
    max-width: 430px;
  }

  .guests {
    padding-bottom: 102px;
  }

  .checkbox__categories {
    height: 253px;
  }

  .checkbox__label {
    margin-bottom: 40px;
  }

  .product-info {
    flex-direction: column;
  }

  .playlist {
    padding-bottom: 241px;
  }

  .checkbox {
    padding-top: 11px;
  }

  .playlist-right {
    gap: 28px;
  }

  .playlist-intend {
    max-width: 824px;
    bottom: -186px;
  }

  .broadcasts__wrap {
    width: 100%;
  }


  .product {
    padding-top: 0;
    padding-bottom: 91px;
  }

  .product-info {
    gap: 5px;
  }

  .product-info__left {
    flex: 1 1 500px;
  }

  .product-info__left {
    padding-top: 54px;
    padding-right: 1px;
    margin-bottom: 38px;
  }

  .product-info__logo-svg {
    top: 57px;
  }

  .product-info__right {
    max-width: 532px;
  }

  .product-info__title {
    max-width: 396px;
  }

  .product-info__descr {
    max-width: 552px;
    margin-bottom: 13px;
    padding-top: 13px;
  }

  .playlist-intend {
    bottom: -150px;
  }

  .about-descr__share {
    margin-bottom: 170px;
  }

  .about-descr__dawn {
    width: 112px;
    height: 112px;
    top: 378px;
    right: 4px;
  }

  .about-descr__spiral {
    position: absolute;
    display: block;
    top: 377px;
    right: 144px;
  }

  .swiperNext {
    left: 558px;
  }

  .swiper__subtitle {
    max-width: 270px;
  }

  .about-form__string {
    flex-direction: column;
  }

  .about-form__textarea {
    padding: 30px 10px 75px 32px;
  }

  .about-form__wrapper {
    max-width: 541px;
  }

  .about-form__input {
    max-width: 539px;
    margin-bottom: 31px;
  }

  .about {
    padding-bottom: 332px;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 75px;
  }

  .footer-right__link {
    margin-bottom: 29px;
  }

  .footer-social__youtube svg,
  .footer-social__ok svg,
  .footer-social__vk svg {
    width: 46px;
    height: 36px;
  }

  .footer-social__youtube,
  .footer-social__ok {
    margin-right: 12px;
  }

  .footer-social {
    max-width: 158px;
  }

  .footer-left__logo {
    margin-bottom: 17px;
  }

  .footer-right {
    max-width: 541px;
  }

  .footer-row {
    margin-bottom: 102px;
  }

  .footer {
    background-image: url(../img/vector-footer.svg);
    background-repeat: repeat-x;
    background-position: 6px 439px;
  }

  .graph-modal__container {
    max-width: 539px;
  }

  .header-entry {
    padding: 39px;
  }
}


@media (max-width: 730px) {
  .swiperNext {
    display: none;
  }

  .swiperPrev {
    display: none;
  }

  .broadcast-right__play {
    display: none;
  }

  .bottom-left {
    gap: 25px;
  }

  .checkbox__categories {
    width: 495px;
  }

  .product-info__right svg {
    width: 515px;
  }

  .broadcasts__archive {
    top: 996px;
  }
}

@media (max-width: 650px) {

  .header-down {
    padding-bottom: 9px;
  }

  .burger-active {
    display: none;
    opacity: 0;
    position: relative;
    max-width: 992px;
    width: 100%;
    height: 400px;
    background-color: var(--color-light-grey);
    padding: 61px 36px;
  }

  .burger-active__open {
    display: block;
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
  }

  .burger-nav__right-svg {
    display: none;
  }

  .burger-nav__left-svg {
    display: none;
  }

  .burger-nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 281px;
  }

  .burger-nav__down-active {
    position: absolute;
    top: 275px;
    left: 0;
    display: block;
    max-width: 992px;
    width: 100%;
    height: 182px;
    background-color: var(--color-white);
    z-index: 10000;
  }

  .burger-nav__bottom-link {
    display: flex;
    margin-bottom: 30px;
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  .burger-nav__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 250px;
    padding-left: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 70px;
  }

  .burger-nav__link {
    margin-right: 24px;
    margin-bottom: 40px;
  }

  .burger-nav__link:nth-child(5n) {
    margin-bottom: 0;
  }

  .burger__line-disable {
    opacity: 0;
  }

  .burger__line-left {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .burger__line-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  .burger-nav__link:focus {
    color: var(--color-white);
    background-color: var(--color-purple-blue);
    outline: none;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
  }

  .burger-nav__link:hover {
    color: var(--color-dark-purple);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
  }

  .burger-nav__link:active {
    color: var(--color-deep-purple);
    background-color: transparent;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
  }

  .bottom-right {
    display: none;
    max-width: 235px;
    padding-bottom: 20px;
  }

  .bottom-right--active {
    display: flex;
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 83px;
    left: 31px;
    background-color: var(--color-white);
  }

  .broadcast-left__play {
    position: absolute;
    left: 0;
    top: -28px;
  }

  .broadcast-right__play {
    position: absolute;
    left: 18px;
    top: -28px;
  }

  .broadcast-left {
    padding-left: 0;
    margin-right: 0;
    border-left: none;
  }

  .broadcast-right {
    padding-left: 20px;
    padding-right: 0;
    border-right: none;
  }

  .broadcast-right__play,
  .broadcast-text,
  .broadcast-left {
    display: flex;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 54px;
    opacity: .5;
    background-color: var(--color-light-grey);
  }

  .header-top__logo {
    width: 120px;
    padding-top: 12px;
    margin-right: 11px;
    padding-bottom: 19px;
    padding-left: 5px;
    z-index: 10000;
  }

  .container {
    margin: 0 31px 0 23px;
  }

  .header-top__logo {
    width: 93px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 3px;
  }

  .button__authorization {
    position: absolute;
    top: -54px;
    right: -1px;
    padding: 8px 24px 8px 23px;
  }

  .header__right-burger {
    padding-left: 5px;
  }

  .button__search {
    margin-right: 0;
  }

  .bottom-left {
    display: none;
  }

  .header-down__btns-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 124px;
    padding-top: 25px;
    margin-bottom: 1px;
    margin: -21px auto;
    padding-left: 5px;
    color: var(--color-dark-purple);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .header-down__svg-active {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
  }

  .button__input {
    position: absolute;
    width: 194px;
    top: 2px;
    right: 24px;
  }

  .header-right {
    margin-bottom: 9px;
  }

  .header-bottom {
    display: block;
    padding-top: 10px;
    padding-bottom: 16px;
  }

  .card-mobile {
    display: none;
  }

  .card-active {
    display: flex;
  }

  .radio-left {
    padding-top: 42px;
  }

  .radio-left__title {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 32px */
  }

  .radio-left__italic {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
  }

  .radio-left__descr {
    margin-bottom: 20px;
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
  }

  .radio-left__title {
    margin-bottom: 7px;
  }

  .radio-left__button {
    color: var(--color-white);
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .radio-left__button {
    max-width: 201px;
    padding: 16px 43px 17px 42px;
  }

  .podcast__title,
  .broadcasts__title,
  .playlist-left__title {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
  }

  .hero {
    padding-bottom: 41px;
  }

  .podcast__title {
    padding-top: 55px;
    margin-bottom: 30px;
  }

  .card {
    flex-direction: column;
    max-height: 185px;
  }

  .card__mobile {
    height: 72px;
    width: 256px;
  }

  .card-descr__play svg {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 36px;
    height: 36px;
    /* padding-top: 6px; */
    /* padding-right: 30px; */
  }

  .card-descr {
    max-height: 81px;
  }

  .card__pictures {
    height: 100%;
    height: 72px;
    width: 100%;
  }

  .podcast__title {
    padding-top: 55px;
    margin-bottom: 18px;
  }

  .card-info__time {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card-info__title {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card-info__speaker {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card-info {
    padding-top: 6px;
    padding-left: 15px;
    margin-bottom: 13px;
  }

  .card__date {
    bottom: 167px;
  }

  .card-statistics__like,
  .card-statistics__plays,
  .card-statistics__share {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card-statistics {
    gap: 30px;
    padding-top: 6px;
    padding-left: 34px;
    padding-bottom: 6px;
  }

  .card-statistics__playbutton,
  .card-statistics__likebutton,
  .card-statistics__sharebutton {
    margin-right: 6px;
  }

  .podcast-info {
    margin-bottom: 30px;
  }

  .podcast__more {
    padding: 16px 28px 16px 28px;
    color: var(--color-dark-purple);
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .podcast {
    padding-bottom: 53px;
  }

  .broadcasts {
    padding-top: 71px;
  }

  .broadcasts__title {
    margin-bottom: 19px;
  }

  .broadcasts__subtitle {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .item__card {
    max-width: 113px;
    height: 147px;
  }

  .item__title {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 6px;
  }

  .item__subtitle {
    display: block;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .broadcasts__menu {
    margin-bottom: -4px;
  }

  .item__image {
    width: 113px;
    height: 49px;
  }

  .item__link {
    font-family: Muller;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .item__descr {
    width: 102px;
    max-height: 91px;
    margin-top: -12px;
    padding-left: 9px;
  }

  .item__text {
    margin-bottom: 2px;
  }

  .item__link {
    width: 95px;
  }

  .item-mobile {
    margin-bottom: 15px;
  }

  .item__link {
    position: absolute;
    bottom: 11px;
  }

  .broadcasts__archive {
    display: flex;
    flex-direction: column-reverse;
    max-width: 256px;
    left: 0;
    top: 684px;
    background-size: 77px 105px;
  }

  .broadcasts__archive-descr {
    margin-bottom: 6px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
  }

  .broadcasts__btn {
    max-width: 110px;
    width: 100%;
    padding: 8px 15px;
    color: var(--color-black-blue);
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .broadcasts__btn svg {
    display: none;
  }

  .guests__title {
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
  }

  .broadcasts {
    margin-bottom: 194px;
  }

  .guests {
    padding-top: 51px;
  }

  .guests__subtitle {
    margin-bottom: 1px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
  }

  .guests__descr {
    margin-bottom: 27px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
  }

  .ac .ac-trigger {
    padding-top: 11px;
    padding-bottom: 11px;
    color: var(--color-white);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .ac .ac-trigger svg {
    width: 35px;
    height: 29px;
  }

  .ac-panel__name {
    max-width: 94px;
    margin-bottom: 29px;
    text-align: start;
    color: var(--color-white);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 15.4px */
  }

  .accordion-column {
    padding-top: 21px;
    column-gap: 50px;
  }

  .ac.js-enabled .ac-panel {
    max-height: 490px;
  }

  .accordion {
    margin-bottom: 0;
  }

  .profile__title {
    color: var(--color-white);
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .profile__descr {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 28.8px */
  }

  .profile__btn {
    padding: 9px 13.5px;
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .profile__olga {
    width: 256px;
    height: 159px;
  }

  .social {
    max-width: 150px;
    margin-bottom: 7px;
  }

  .social__link {
    margin-right: 22px;
  }

  .social__link svg {
    width: 35px;
    height: 38px;
  }

  .checkbox__categories {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1400px;
    height: 41px;
  }

  .playlist-left__genre {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .playlist-right {
    gap: 30px;
  }

  .playlist {
    padding-top: 55px;
    padding-bottom: 95px;
  }

  .playlist-left__title {
    margin-bottom: 15px;
  }

  .postpank+span,
  .hardcore+span,
  .pankrok+span {
    position: absolute;
    top: -8px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 112px;
    height: 33px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .silence+span {
    position: absolute;
    top: -8px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 265px;
    height: 33px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .classic+span {
    position: absolute;
    top: -8px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 33px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .electronic+span {
    position: absolute;
    top: -8px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 195px;
    height: 33px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .progressive+span {
    position: absolute;
    top: -8px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 193px;
    height: 33px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .rok+span {
    position: absolute;
    top: -8px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 72px;
    height: 33px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .rok:checked+span::before {
    width: 72px;
  }

  .progressive:checked+span::before {
    width: 193px;
  }

  .electronic:checked+span::before {
    width: 195px;
  }

  .classic:checked+span::before {
    width: 200px;
  }

  .silence:checked+span::before {
    width: 265px;
  }

  .postpank+span::before,
  .hardcore+span::before,
  .pankrok+span::before,
  .rok+span::before,
  .progressive+span::before,
  .electronic+span::before,
  .classic+span::before,
  .silence+span::before {
    position: absolute;
    content: '';
    top: -2px;
    left: -1px;
    right: 0;
    bottom: 0;
    width: 113px;
    height: 36px;
    border-radius: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .postpank:checked+span::before,
  .hardcore:checked+span::before,
  .pankrok:checked+span::before {
    color: var(--color-white);
    transition: border 0.25s ease-in-out;
    -webkit-transition: border 0.25s ease-in-out;
    -moz-transition: border 0.25s ease-in-out;
    -ms-transition: border 0.25s ease-in-out;
    -o-transition: border 0.25s ease-in-out;
  }

  .checkbox__label {
    position: relative;
    margin-right: 25px;
    padding-left: 0;
    color: var(--color-dark-purple);
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .checkbox__label {
    margin-left: -3px;
    padding-top: 1px;
    position: relative;
    margin-right: 59px;
  }

  .playlist-right__info {
    display: block;
  }

  .playlist-right__play {
    top: 31px;
    left: -56px;
  }

  .playlist-right__play svg {
    position: absolute;
    right: 0;
    top: 0;
    left: 88px;
  }

  .playlist-right__info:active .playlist-right__play {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .playlist-right__image svg {
    position: absolute;
    right: 0;
    top: 0;
    left: 88px;
  }

  .playlist-left {
    margin-bottom: 2px;
  }

  .playlist-right__info {
    max-width: 114px;
  }

  .playlist-right__descr {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .playlist-right__title {
    color: var(--color-black-blue);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .playlist-right__subtitle {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .playlist-intend__descr {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
  }

  .playlist-intend__sign {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    /* 183.333% */
  }


  .playlist-intend__descr {
    max-width: 253px;
  }

  .playlist-intend {
    bottom: -137px;
    max-width: 256px;
  }

  .broadcasts__menu {
    margin-right: 0;
  }

  .playlist-intend__descr {
    padding-top: 30px;
  }

  .playlist {
    padding-bottom: 186px;
  }

  .swiper-slide__speaker {
    margin-bottom: 7px;
  }

  .product-info__logo-svg svg {
    width: 66px;
    height: 62px;
  }

  .product-info__logo-svg {
    top: 55px;
  }

  .product-info__title {
    margin-bottom: 8px;
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
  }

  .product-info__title svg {
    width: 105px;
  }

  .product-info__left {
    margin-bottom: 26px;
    flex: 1 1 277px;
  }

  .product-info__descr {
    color: var(--color-white);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
  }

  .product-info__moredescr {
    margin-bottom: 8px;
    color: var(--color-white);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    /* 22.4px */
  }

  .product-info__descr {
    margin-bottom: 10px;
  }

  .product-info__price {
    margin-bottom: 19px;
    color: var(--color-white);
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .product-info__button {
    padding: 17px 13px 15px 44px;
    background-position: 15px 15px;
    color: var(--color-pale-yellow);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
  }

  .product-info__button:focus {
    background-position: 15px 15px;
  }

  .product-info__button:hover {
    background-position: 15px 15px;
  }

  .product-info__button:active {
    background-position: 15px 15px;
  }

  .about-descr__subtitle {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
  }

  .about-descr__share {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    /* 22.4px */
  }

  .swiper__title {
    max-width: 105px;
    margin-bottom: 5px;
    color: var(--color-white);
    font-family: Muller;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
  }

  .swiper__subtitle {
    max-width: 120px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
  }

  .swiper-navigation {
    display: none;
  }

  .product {
    padding-bottom: 55px;
  }

  .about-descr__title {
    color: var(--color-white);
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
  }

  .about {
    padding-top: 55px;
  }

  .about-descr__subtitle {
    margin-bottom: 5px;
  }

  .about-descr__dawn,
  .about-descr__spiral {
    display: none;
  }



  .about-descr__share {
    margin-bottom: 31px;
  }

  .swiper-slide {
    padding-top: 0;
  }

  .swiper {
    margin-right: 0;
  }

  .about-form__textarea {
    height: 150px;
    border-radius: 23px;
    resize: none;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
  }

  .about-form__textarea {
    padding: 17px 7px 8px 23px;
  }

  .about-form__input {
    padding: 16px 19px 16px 23px;
    margin-bottom: 31px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .swiper {
    margin-bottom: 29px;
  }

  .swiper-wrapper {
    max-width: 550px;
  }

  .just-validate-error-label {
    position: absolute;
    top: 1px;
    left: 25px;
  }

  .about-form__button {
    margin-bottom: 20px;
    padding: 16px 45px 17px 45px;
    color: var(--color-white);
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .about-form__agree {
    color: var(--color-white);
    font-family: Muller;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .about {
    padding-bottom: 227px;
  }

  .footer {
    position: relative;
    padding-top: 52px;
  }

  .footer-right__link {
    margin-bottom: 24px;
    color: var(--color-white);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-right__link:nth-child(3n) {
    margin-bottom: 23px;
  }

  .footer-right__right,
  .footer-right__center,
  .footer-right__left {
    display: none;
    margin: 0;
    padding: 0;
  }

  .footer-right__mobile {
    position: absolute;
    right: 80px;
    top: 213px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .footer-right__mobile {
    position: absolute;
    left: 32px;
    top: 213px;
    display: flex;
    flex-direction: column;
  }

  .footer-right__lmobile {
    display: flex;
    position: absolute;
    right: 60px;
    top: 213px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .footer {
    padding-bottom: 140px;
  }

  .footer {
    background-image: url(../img/vector-footer.svg);
    background-repeat: repeat-x;
    background-position: 24px 409px;
  }

  .footer-copyright {
    position: absolute;
    bottom: 10px;
    left: 112px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.336%;
    /* 12.4px */
  }

  .graph-modal__container {
    max-width: 256px;
    max-height: 446px;
  }

  .header-entry__title {
    color: var(--color-white);
    font-family: Muller;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
  }

  .header-entry__descr {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 200% */
  }

  .header-entry__reg {
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
  }

  .header-entry__button {
    padding: 17px 43px;
    color: var(--color-white);
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .header-entry__input {
    padding: 10px 10px 10px 18px;
    color: var(--color-gray);
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .header-entry__entrywith {
    color: var(--color-gray);
    font-family: Muller;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 200% */
  }

  .header-entry__descr {
    margin-bottom: 20px;
  }

  .header-entry {
    max-height: 529px;
    padding: 40px 20px;
  }

  .graph-modal__close {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    padding: 0;
    width: 42px;
    height: 42px;
    background-image: url(../img/close-modal.svg);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .graph-modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .checkbox {
    width: 267px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .product-info__right svg {
    width: 251px;
  }


  .bottom-right--active {
    display: flex;
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 76px;
    left: 10%;
    background-color: var(--color-white);
  }

  .broadcast-right {
    border-left: 1px solid var(--color-lavender);
  }

  .bottom-right {
    width: 75%;
  }

}

@media (max-width: 395px) {



  .header-entry__button {
    padding: 17px 43px;
    color: var(--color-white);
    border: none;
    text-align: center;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .footer-right {
    display: flex;
    justify-content: space-between;
  }

  .footer-right__lmobile {
    display: flex;
    position: absolute;
    right: 47px;
    top: 213px;
    flex-direction: column;
  }

  .footer-right__mobile {
    position: absolute;
    left: 65px;
    top: 213px;
    display: flex;
    flex-direction: column;
  }

  .profile__descr {
    margin-bottom: 40px;
  }

  .guests {
    padding-bottom: 65px;
  }

  .checkbox {
    padding-top: 12px;
  }

  .playlist-left {
    margin-bottom: 16px;
  }
}

@media (max-width: 325px) {
  .footer-right__mobile {
    position: absolute;
    left: 32px;
    top: 215px;
    display: flex;
    flex-direction: column;
  }

  .footer-right__lmobile {
    display: flex;
    position: absolute;
    right: 94px;
    top: 212px;
    flex-direction: column;
  }
}

@media (max-width: 315px) {
  .broadcasts__archive {
    display: none;
  }
}
